@page
@model WebApp.Pages.Users.AddRoleModel
@{
    ViewData["Title"] = "Add Role to User";
}

<div class="row justify-content-center align-items-center">
    <div class="col col-md-4 col-lg-4 col-xl-3">
        <h2>Add new role to the user @Model.Username</h2>
        <form method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="@Model.AddRoleCmd.UserId" type="hidden" />
            <input asp-for="@Model.Username" type="hidden" />
            <div class="form-group">
                <label asp-for="AddRoleCmd.RoleName"></label>
                <select asp-for="AddRoleCmd.RoleName" class="form-control" asp-items="Model.URoles"></select>
                <span asp-validation-for="AddRoleCmd.RoleName" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success">Add Role</button>
        </form>
        <a asp-page="./Edit" asp-route-id="@Model.AddRoleCmd.UserId">Back to User Editing</a>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}