@page
@model IndexModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Home page";
    string? appName = Configuration["AppName"];
}

<div class="text-center">
    <h1 class="display-4"><b>Welcome to @appName</b></h1>
</div>
