@using Microsoft.AspNetCore.Identity;
@using Core.Entities;
@using Application.Users;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole(SecurityConstants.AdminRoleString))
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-page="/Users/Index">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-page="/Roles/Index">Roles</a>
        </li>
    }
}
